.activeNavLink {
    font-weight: bold;
}

a.navLink {
    font-size: 18px;
    list-style-type: none;
    color: #ffffff;
}

.leftNavContainer {
    padding: 20px;
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: #F15B2A;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;

}

li.nav {
    list-style-type: none;
    margin-left: -30px;
    padding: 0px;
}

.header {
    background-color: #171717;
    height: 75px;
}